body{
    background-color: rgb(66, 159, 240);
}

h1{
    text-align: center;
    font-size: 36px;
    color: gold;
}

#cooking{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table{
    display: table;
    margin: 0 auto;
    
}
.recipeList li{
    display: inline-block;
    align-items: center;
    justify-content: center;

}

.recipeList a{
    color: white;
    text-decoration: none;
}

.recipeList button{
    border-color: black;
    border-radius: 10px;
    margin: 10px;
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0);
}

